<header id="cabecera">
    <div id="iconoMenu">
        <img src="https://img.icons8.com/android/24/000000/menu.png" (click)="mostrarMenu()"/>
    </div>
    <nav id="menu" *ngIf="Mostrar">
        <ul>
             <a [routerLink]="['/']"><li> inicio</li></a>
            <a [routerLink]="['/propiedad']"> <li>Propiedad</li></a>
            <a [routerLink]="['/propietario']"><li>Propietario</li></a>
        </ul>
    </nav>

    <div id="logo">
        Mi Propiedad
    </div>
</header>

<router-outlet></router-outlet>
<footer id="footer">
   <p>Creado Por &copy; Cristian Amancio</p> 
</footer>